
.modern-about {
  background-color: var(--neutral);
  font-family: 'Inter', sans-serif;
  color: var(--primary);
  overflow-x: hidden;
}

/* Nav & Logo */
.about-nav {
  padding: 40px 5%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mini-logo {
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: -1px;
  background: var(--primary);
  color: var(--white);
  padding: 8px 10px;
  /* border-radius: 30px; */

}

.mini-logo img {
  width: 200px;
  /* border-radius: 30px; */
}

.line-decorative {
  height: 2px;
  flex-grow: 1;
  background: var(--primary);
  opacity: 0.2;
}

/* Hero Section */
.hero-section {
  padding: 0 5% 100px 5%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: end;
}

.hero-title-wrapper h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 0.98;
  margin: 0;
  font-weight: 900;
  color: var(--primary);
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px var(--primary);
}

.subtitle {
  font-weight: 700;
  letter-spacing: 5px;
  display: block;
  margin-bottom: 20px;
}

.image-placeholder-large {
  width: 100%;
  height: 600px;
  background-color: var(--secondary);
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%); /* Corte moderno */
}

.hero-main-image {
  position: relative;
}

.hero-experience-badge {
  position: absolute;
  bottom: -30px;
  left: -30px;
  background: var(--white);
  padding: 40px;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 20px 20px 0px var(--primary);
}

/* Intro Section */
.intro-section {
  padding: 150px 5%;
  background: var(--primary);
  color: var(--white);
}

.intro-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 100px;
}

.intro-text h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--neutral);
}

.stat-item {
  border-bottom: 1px solid rgba(209, 211, 212, 0.3);
  padding: 20px 0;
}

.stat-item span {
  font-size: 3.5rem;
  font-weight: 900;
  display: block;
}

/* History Section */
.history-section {
  padding: 100px 10%;
}

.history-grid {
  display: grid;
  /* O '250px' é a largura mínima antes de quebrar para a próxima linha */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  align-items: center;
}

.image-box {
  width: 100%;
  height: 100%;
  background: var(--secondary);
  border-radius: 4px;
  position: relative;
}

.image-box img {
  width: 100%;
}

/* Efeito decorativo industrial */
.image-box::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 3px solid var(--primary);
  z-index: -1;
}

.history-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.history-text p {
  line-height: 1.6;
    font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--neutral);
}

/* MVV Section */
.mvv-section {
  padding: 120px 5%;
}


.mvv-header h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  text-align: right;
}

/* MVV Section */
.mvv-section {
  padding: 80px 10%;
  /* background-color: var(--white); */
}

.mvv-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.mvv-card {
  padding: 40px;
  background: var(--bg-light);
  border-left: 6px solid var(--primary);
  transition: var(--transition);
}

.mvv-card:hover {
  transform: translateY(-10px);
  background: var(--primary);
  color: var(--white);
}

.mvv-icon {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--secondary);
}

.mvv-card:hover .mvv-icon {
  color: var(--bg-light);
}



/* Responsividade */
@media (max-width: 968px) {
  .hero-section, .intro-grid, .mvv-items {
    grid-template-columns: 1fr;
  }
  .mvv-header h2 { text-align: left; font-size: 2.5rem; }
  .image-placeholder-large { height: 350px; }
}



