.cabecalho {
    position: sticky;
    top: 0;
    z-index: 50;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin: 0 auto;
    padding: 16px 32px;

    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
}

/* Logo */
.cabecalho-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cabecalho-logo img {
    height: 50px;
    width: auto;
    display: block;
}

/* Opções do menu */
.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 62px;
}

.cabecalho-op {
    text-decoration: none;
    color: #555;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
    font-size: 26px;
}

.cabecalho-op:hover {
    color: #00095C;
}

.cabecalho-op.ativo {
    color: #00095C;
    border-bottom-color: #00095C;
}