.cabecalho { 
    background-color: var(--cinza);
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 15px 110px;
}

.cabecalho img {
    width: 150px;
    height: auto;
    margin-right: 30px;
}

.cabecalho-op {
    font-size:  2em;
    text-decoration: none;
    color: var(--white);
    transition: color 0.2s ease;
}

.cabecalho-op:hover {
  color: var(--secondary)
}

@media screen and (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
  }
  .cabecalho img {
    margin-right: 0;
    margin-bottom: 15px;
  }
}