
.carousel {
    width: 100%;
    margin: 0 auto;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.carousel-image {
    width: 500px;
    height: auto;
}
.carousel-item h3 {
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}

.splide__slide img {
  transition: transform 0.3s ease;
}

.splide__slide:hover img {
  transform: scale(1.03);
}