footer {
    width: 100%;
    height: 100px;
    background-color: #ffff;
    text-align: center;
    padding: 10px 0px;
    color: gray;
    transition: 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aurea_mark:hover{
    color: #00095C;
    font-size: 18px;
    

}